body {
  display: flex;
  background-image: url("/assets/images/lluviaInicio.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  place-items: center;
  justify-content: center;
  height: 100vh;
}
.container-form {
  background-color: #07131b;
  padding: 50px;
  border: solid 2px;
  border-radius: 10px;
}
input {
  background-color: #94ab98;
  color: #07131b;
}

h3 {
  color: #a69f7c;
  font-family: monospace;
  font-weight: bold;
}
label {
  color: aliceblue;
}

.re {
  color: #c9cacd;
  text-decoration: nones;
}
.re:hover {
  color: red;
}
