* {
  /*no olviadr poner padding y margin en 0*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/2017-04_Circumpolar_trails_sunset_at_La_Hague_lighthouse.jpg/3200px-2017-04_Circumpolar_trails_sunset_at_La_Hague_lighthouse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/**scroll personalizado*/
/*?primero se accede a la barra y se le da el tamaño entre otras propiedades*/
body::-webkit-scrollbar {
  width: 7px;
}

/*?despues de edita la barra que baja y sube con propiedades X*/
body::-webkit-scrollbar-thumb {
  background: #95afc0;
  border-radius: 5px;
}

/*?header (barra de navegacion)*/
.nav {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.vexels.com%2Fpng-svg%2Fvista-previa%2F205150%2Filustracion-de-galaxia-abstracta&psig=AOvVaw3v05r68THkmdbEvDUrMlFF&ust=1653754671445000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCODDm7CKgPgCFQAAAAAdAAAAABAqs);
  font-size: 25px;
  color: aliceblue;
}
.imglogo {
  width: 60px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 20px;
}

.menu li a {
  color: aliceblue;
  text-decoration: none;
  transition: all 0.5s ease;
}

.menu li a:hover {
  padding: 5px 10px;
  color: black;
  background-color: bisque;
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  color: aliceblue;
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.slogan {
  color: aliceblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
