* {
  /*no olviadr poner padding y margin en 0*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e8e8e8;
}

body {
  font-family: "PT Sans", sans-serif;
  height: 100vh;
  /*img fixed*/
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/2017-04_Circumpolar_trails_sunset_at_La_Hague_lighthouse.jpg/3200px-2017-04_Circumpolar_trails_sunset_at_La_Hague_lighthouse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/**scroll personalizado*/
/*?primero se accede a la barra y se le da el tamaño entre otras propiedades*/
body::-webkit-scrollbar {
  width: 7px;
}

/*?despues de edita la barra que baja y sube con propiedades X*/
body::-webkit-scrollbar-thumb {
  background: #95afc0;
  border-radius: 5px;
}

/*?header (barra de navegacion)*/
.nav {
  position: fixed;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s ease;
}
/* se activa el nav y cambia*/
.nav.active {
  background-color: rgba(0, 0, 0, 0.47);
  padding: 5px;
  z-index: 10;
}

.nav.active .logo,
.nav.active a {
  color: aliceblue;
}

.nav.active a:hover {
  background: aliceblue;
  color: black;
}
.logo {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.vexels.com%2Fpng-svg%2Fvista-previa%2F205150%2Filustracion-de-galaxia-abstracta&psig=AOvVaw3v05r68THkmdbEvDUrMlFF&ust=1653754671445000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCODDm7CKgPgCFQAAAAAdAAAAABAqs);
  font-size: 25px;
  color: aliceblue;
}
.imglogo {
  height: 50px;
  margin-left: 50px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 5px;
}

.menu li a {
  color: aliceblue;
  text-decoration: none;
  transition: all 0.5s ease;
}

.menu li a:hover {
  padding: 5px 10px;
  color: black;
  background-color: bisque;
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  margin: 0;
  color: aliceblue;
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.slogan {
  color: aliceblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion h1 {
  text-align: center;
  padding-right: 100px;
}

/*TODO: efecto de maquina de escribir con JS*/
#maquina_de_escribir {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
  color: aliceblue;
}

/**este el espacio de cada section*/
/*!sections*/
#section-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#section-1 img {
  height: 350px;
  padding-left: 50px;
}
/*?estilo de boton*/
#moreInfo {
  text-decoration: none;
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: absolute;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 550ms;
  overflow: hidden;
}

#moreInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

#moreInfo:hover {
  color: #e8e8e8;
}

#moreInfo:hover::before {
  width: 100%;
}
#section-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  /**img de fondo para cada seccion*/
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
